$color-black: #000000;
$color-white: #ffffff;
$font-color: #2e2e2c;
$off-white-bg-color: #F6F5F0;
$font-weight400: 400;
$font-weight500: 500;
$font-weight600: 600;
$font-weight700: 700;
$transition: all 0.3s ease-in-out;
$font-family-montserrat: "Montserrat", sans-serif;
$font-family-playfair: "Playfair Display", serif;
$font-family-poppins: "Poppins", sans-serif;
$box-shadow: rgba(0, 190, 197, 0.3) 0px 5px 15px 4px;